@{ Html.RenderAction("MenuTop", "Home"); }
<div class="header_top">
    <div class="logo">
        <a href="index.html"><img src="~/Assets/client/images/logo.png" alt="" /></a>
    </div>
    @{Html.RenderAction("HeaderCart", "Home"); }
    <script type="text/javascript">
        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;

                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }

        $(function () {

            var dd = new DropDown($('#dd'));

            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-2').removeClass('active');
            });

        });

    </script>
    <div class="clear"></div>
</div>
<div class="header_bottom">
    @{Html.RenderAction("MainMenu", "Home");}
    <div class="search_box">
        <form>
            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
        </form>
    </div>
    <div class="clear"></div>
</div>